#derrota{
	font-size: 50px;
	position:absolute;
	font-family: 'Poppins', sans-serif;
	color:black;
	left: 34%;
	top:50%;
	margin-left: 4em;
	margin-right: 4em;
}
#puntuacio{
	font-size: 24px;
	position:absolute;
	font-family: 'Poppins', sans-serif;
	color:black;
	left: 20%;
	top:50%;
	margin-left: 4em;
	margin-right: 4em;
}
#puntuacioMax{
	font-size: 24px;
	position:absolute;
	font-family: 'Poppins', sans-serif;
	color:black;
	left: 20%;
	top:54%;
	margin-left: 4em;
	margin-right: 4em;
}
#nivell{
	font-size: 24px;
	position:absolute;
	font-family: 'Poppins', sans-serif;
	color:black;
	left: 20%;
	top:58%;
	margin-left: 4em;
	margin-right: 4em;
}
#comp{
	font-size: 24px;
	position:absolute;
	font-family: 'Poppins', sans-serif;
	color:black;
	left: 20%;
	top:40%;
	margin-left: 4em;
	margin-right: 4em;
}